body {
	background-color: darkgreen;
}

.img-container {
	background-color: indianred;
	max-width: 800px;
	padding: 30px;
	max-height: 800px;
	border: 2px solid plum;
}

img {
	width: 150px;
}

h3 {
	color: ghostwhite;
	background-color: goldenrod;
}

h1 {
	color: ghostwhite;
}